html,
body{
width:100%;
overflow-x:hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a:hover{text-decoration: none;}
ul{text-decoration: none;}
li{list-style-type: none;}
.navbar .navbar-nav .nav-item .nav-link{
    padding-left: 25px;
    font-weight: 500;
}
.text-semi-bold{font-weight: 600;}



/* ------------------Header
--------------------------------- */
.navbar-light .navbar-brand {
  padding: 15px 0px 10px;
}
.banner{
  position: relative;
    background-image: url("../images/banner.jpg"); /* The image used */
  background-color: rgba(255,255,255,0.9); /* Used if the image is unavailable */
  height: 600px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.banner:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(255,255,255,0.1);}
.banner h1{
  font-size: 31px;
  color: #ffffff;
  font-weight: 600;
}
.banner p {
  color: #ffffff;
  font-size: 18px;
  line-height: 37px;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 6px -6px rgb(0 0 0 / 20%);
  z-index: 11;
}
.circle1 {
    width: 40px;
    height: 40px;   
    position: relative;
    animation: circle1 20s infinite;
    animation-direction: alternate;
  }
  
  @keyframes circle1{
    0%   {left: 100px; top: 100px;}  
  50%  {left: 75%; top: 400px;} 
  100% {left: 100px; top: 100px;}
  }
  .circle2 {
    width: 40px;
    height: 40px;
    float:right;   
    position: relative;
    animation: circle2 20s infinite;
    animation-direction: alternate;
  }
  
  @keyframes circle2{
    0%   {right:100px; top:100px;} 
    50%  {right:75%; top:400px;}   
    100% {right:100px; top:100px;}
  }

  .cross{
    width: 40px;
    height: 40px;
    position: relative;
    animation: cross 20s infinite;
    animation-direction: alternate;
  }
  @keyframes cross{
    0%   {left:0px; top:0px;} 
    75%  {left:150; top:300px;}   
    100% {left:0px; top:0px;}
  }
  .cross1{
    width: 40px;
    height: 40px;
    position: relative;
    animation: cross1 20s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes cross1{
    0%   {left:600px; top:0px;} 
    75%  {left:600px; top:450px;}   
    100% {left:600px; top:0px;}
  }
  .cross2{
    width: 40px;
    height: 40px;
    float: right;
    position: relative;
    animation: cross2 22s infinite;
    animation-direction: reverse;
  }
  @keyframes cross2{
    0%   {right:100px; top:0px;} 
    75%  {right:100px; top:450px;}   
    100% {right:100px; top:0px;}
  }
  .xcross{
    animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: rotate;
	-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate;
	-moz-animation-duration: 7s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
  }
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  




  .about-img{
    box-shadow: 23px -21px 3px -2px rgba(203,50,27,1);
    -webkit-box-shadow: 23px -21px 3px -2px rgba(203,50,27,1);
    -moz-box-shadow: 23px -21px 3px -2px rgba(203,50,27,1);
  }
.section-pd{
  padding-top: 90px;
  /* padding-bottom: 90px; */
}
.section-pb{padding-bottom: 90px;}
  .about-section{
        position: relative;
    }
    
    .about-section:before {
        content: '';
        background: url('../images/hexshape.png') no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: -2px;
        background-position: right top;
        background-size: 42%;
    }
    .title{
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 60px;
    }
    .sub-tittle{
      font-weight: 600;
    }
  .text-red{
      color: #cb321b !important;
  }
  .btn-danger{
    background-color:#cb321b;
  }
  .text-justify{
    text-align: justify;
  }

  /*--------------- Product Css-------
  ------------------------------------ */
  .product {
    position: relative;
    
  }
  
  .product-image {
    display: block;
    max-width: 100%;
    height: auto;
    -moz-transition: .5s ease;
    transition: .5s ease;
  }
  
  .product-content {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height:100%;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding: 40px;
    text-align: center;
    border-radius: 14px;
  }
.product-content h3{
  font-weight: 600;
  margin-bottom: 20px;
}
.product-content p{
  min-height: 180px;
}
  .product:hover img{
    max-width: 100%;
    -webkit-transform: scale(1.01,1.01);
    -moz-transform: scale(1.01,1.01);
    transform: scale(1.01,1.01);
  }

  /* -----------Orionzi Management 
  ---------------------------------*/
  .orionzi-paragraph {line-height: 31px;}

  /* -----------EnterPrise Css --- 
  -------------------------------*/
  .enterprise{
    position: relative;
}

.enterprise:before {
    content: '';
    background: url('../images/box-corner-left.png') no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-position: left bottom;
    background-size: 35%;
}

.enterprise .content {
  padding: 130px;
  background: #cb321b;
  border-radius: 4px;
  color: #fff;
  width: 100%;
}

.enterprise .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.enterprise .content p {
  margin-bottom: 30px;
}

.enterprise .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.enterprise .content .more-btn i {
  font-size: 14px;
}

.enterprise .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 13px;
  width: 100%;
  transition: 0.3s;
}

.enterprise .icon-boxes .icon-box i {
  font-size: 40px;
  color: #009970;
  margin-bottom: 30px;
}

.enterprise .icon-boxes .icon-box h4 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
}

.enterprise .icon-boxes .icon-box p {
  font-size: 14px;
    color: #000000;
    text-align: justify;
}

.enterprise .icon-boxes .icon-box:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
}

/* marketing Css */
.marketing{
  position: relative;
}

.marketing:before {
  content: '';
  background: url('../images/abstract_lines.png') no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-position: right bottom;
  background-size: 55%;
}

.marketing .content {
padding: 120px 64px;
background: #cb321b;
border-radius: 4px;
color: #fff;
width: 100%;
}

.marketing .content h3 {
font-weight: 700;
font-size: 34px;
margin-bottom: 30px;
}

.marketing .content p {
margin-bottom: 30px;
}

.marketing .content .more-btn {
display: inline-block;
background: rgba(255, 255, 255, 0.1);
padding: 6px 30px 8px 30px;
color: #fff;
border-radius: 50px;
transition: all ease-in-out 0.4s;
}

.marketing .content .more-btn i {
font-size: 14px;
}

.marketing .icon-boxes .icon-box {
text-align: center;
border-radius: 10px;
background: #fff;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
padding: 20px 13px;
width: 100%;
transition: 0.3s;
}

.marketing .icon-boxes .icon-box i {
font-size: 40px;
color: #009970;
margin-bottom: 30px;
}

.marketing .icon-boxes .icon-box h4 {
font-size: 19px;
font-weight: 600;
margin-bottom: 5px;
}

.marketing .icon-boxes .icon-box p {
font-size: 14px;
  color: #000000;
  text-align: justify;
}

.marketing .icon-boxes .icon-box:hover {
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(212, 26, 26, 0.7), rgba(212, 26, 26, 0.7)), url("../images/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  color: #ffffff;
  background: #313534;
  border: 2px solid #979b9a;
  text-decoration: none;
}

/*----------- contact form CSS
--------------------------------- */
.contact-form .form-control {
  border: none;
  border-bottom: 2px solid #bbc0c4;
  border-radius: 0rem;
}
.contact-form .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: red;
  outline: 0;
  box-shadow: none;
}

/* -----------Footer---
----------------------------- */
footer{color: #ffffff;font-size: 14px;}
footer a{color: #ffffff;}
footer a:hover{color: red;}
footer ul li{padding: 10px 0;}

/* --------------------footer social media 
-------------------------------------------------*/

footer .fa {
    padding: 11px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25px;
}

footer .fa:hover {
    opacity: 0.7;
}

footer .fa-facebook {
  background: #3B5998;
  color: white;
}

footer .fa-twitter {
  background: #55ACEE;
  color: white;
}

footer .fa-linkedin {
  background: #007bb5;
  color: white;
}

footer .fa-youtube {
  background: #bb0000;
  color: white;
}

.copy-right {
  color: #ffffff;
  font-size: 14px;
  background-color: #000000;
}



/*---------- main Menu Navigation 
----------------------------------------*/
.navbar-light .navbar-nav .nav-link {
  color: #1d1d1d;
}
.menu-area{background: #ffffff;}
.dropdown-menu {padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important;}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:#1d1d1d;font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color:rgba(203,50,27,1);}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a{color: rgba(203,50,27,1);}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: #f2f5f6;}
.mainmenu .collapse ul ul ul > li:hover > a{background: #f2f5f6;}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{background:#faf9f9;}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{background:#faf9f9;}
/* ----------third level css------------ */
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:#64B5F6}
/* ----------End third level css------------ */

/******************************Drop-down menu work on hover**********************************/
.mainmenu{border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media (min-width: 1025px) {
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media  (max-width: 1025px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}
.dropdown-toggle::after{position: relative;top: 2px;}








  /*------------------------------------------------ Responsive css-------------------------------------------- */
  @media(max-width:991px){
    .banner {
    height: auto;
    padding: 35px 0;
  }
  .marketing .content {
    padding: 120px 40px;
  }
  }
  @media(max-width:768px){
/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
[data-aos-delay] {
  transition-delay: 0 !important;
}
/* -------------------------------------- */

.banner {
  height: auto;
  padding: 0px 0;
}

.circle1,.circle2{height:15px;}
    .enterprise .content {
      padding: 7px;
  }
  .enterprise .content h3 {
    text-align: center;
    font-size: 21px;
    margin-bottom: 0px;
}
.marketing .content {
  padding: 7px;
}
.marketing .content h3 {
text-align: center;
font-size: 21px;
margin-bottom: 0px;
}
.about-section:before {
  background-size: 62%;
}
.enterprise:before {
  background-size: 70%;
}

      .title {
        font-size: 1.8rem;
        padding-bottom: 8px;
    }
    .section-pd{padding-top: 45px;}
    .section-pb {
      padding-bottom: 45px;
  }
    .sub-tittle{font-size: 1.3rem;}
  }
  @media(max-width:580px){
    .product-content {
      font-size: 14px;
    }
    .product-content h3 {
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }